*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #757f85;
}

.body_title{
    padding: 1.5rem;
    text-align: center;
    background: #757f85;
}

.body_who{
    margin: 0 auto;
    max-width: 80%;

    border: 3px groove black;
    background-color: #A6A6A6;
    text-align: center;
}

.body_who img{
    padding: 1.5rem;
    max-width: 80%;
}

.body_who h2{
    padding: 1.5rem
}

.body_who p{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.body_who p:last-child{
    padding-bottom: 1.5rem;
}

footer{
    margin: 0 auto;
    margin-top: 1.5rem;
    background-color: black;
    color: #A6A6A6;
}

/*Mid-Size*/
@media only screen and (min-width: 750px){
    .body_who{
        max-width: 70%;
    }
}

/*Max-Size*/
@media only screen and (min-width: 1120px){
    .body_who{
        max-width: 60%;
    }
}