
nav{
    background-color: black;
    z-index: 5;
}

.nav_inner{
    position: sticky;
    top: 0;

    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: #757f85;
}

.nav_navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_navbar li{
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 30px;
}


.Insp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-height: 82px;
}

.Insp li{
    padding: 0
}

.nav_navbar :nth-child(2) > a{
    padding: 19px 30px 19px 30px;
}

.nav_navbar li a{
    color: #757f85;
    padding: 30px;
    text-decoration: none;
}

.nav_navbar li a:hover{
    color: black;
    background-color: #4F4F4F;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    box-shadow: 0px 0px 0px 1px #757f85;
}

/*Min-Size*/


/*Mid-Size*/
@media only screen and (min-width: 750px){

    .nav_inner{
        flex-direction: row;
    }

    .nav_name{
        padding-left: 1rem;
    }

}